<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale=1">
    <title>Admin felület</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    $(document).ready(function()
    {
        $("#add_worker").click(function()
        {
            $("#delete_worker_class").hide();
            $("#add_salary_category").hide();
            $("#get_worker_hours_class").hide();
            $("#create_or_update_worker_class").show();
        });
        $("#modify_worker").click(function()
        {
            $("#delete_worker_class").hide();
            $("#add_salary_category").hide();
            $("#get_worker_hours_class").hide();
            $("#worker_selector_class").show();

        });
        $("#delete_worker").click(function()
        {
            $("#delete_worker_class").hide();
            $("#add_salary_category").hide();
            $("#get_worker_hours_class").hide();
            $("#create_or_update_worker_class").hide();
            $("#worker_selector_class").hide();
            $("#worker_hour_selector_div").hide();
            $("#delete_worker_class").show();
        });
        $("#get_worker_dates").click(function()
        {
            $("#delete_worker_class").hide();
            $("#add_salary_category").hide();
            $("#create_or_update_worker_class").hide();
            $("#delete_worker_class").hide();
            $("#worker_hour_selector_div").show();
        });
        $("#addPaymentCategory").click(function () {
            $("#delete_worker_class").hide();
            $("#create_or_update_worker_class").hide();
            $("#delete_worker_class").hide();
            $("#get_worker_hours_class").hide();
            $("#worker_hour_selector_div").hide();
            $("#add_salary_category").show();
        })

    });
</script>

<div class="container">
    <div class="page-header">
        <h1 align="center">Részmunkaidős kezelőfelület</h1>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Alkalmazottak
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li id="add_worker"><a href="#">Alkalmazott hozzáadása</a></li>
                <li id ="delete_worker"><a href="#">Alkalmazott törlése</a></li>
                <li id ="modify_worker"><a href="#">Alkalmazott módosítása</a></li>
            </ul>
            <input type="submit" class="btn btn-primary" id="get_worker_dates" value="Időpontok megtekintése">
            <input type="submit" class="btn btn-primary" value="Fizetések kiutalása" id="deliverPaymentButton" onclick="sendPayment()">
            <input type="submit" class="btn btn-primary" value="Fizetési kategória hozzáadása" id="addPaymentCategory">
            <input type="submit" class="btn btn-danger" value="Kilépés">
        </div>
    </div>

    <div class ="worker_selector" id="worker_selector_class" style="display:none;">
        <div class="form-select">
            <label for="worker_to_select">Alkalmazott:</label>
            <select class="form-control" id="worker_to_select" onchange="listData()">
                <option>Alkalmazott</option>
            </select>
        </div>
    </div>
    <div class="add_salary_category" id="add_salary_category" style="display: none">
        <label for="name">Megnevezés:</label>
        <input type="text" class="form-control" id="position_name" >
        <label for="position">Fizetés:</label>
        <input type="text" class="form-control" id="position_salary">
        <input type="submit" class="btn btn-primary" value="Mentés" onclick="addPaymentCategory()">
    </div>
    <div class="form-select" id="worker_hour_selector_div" style="display: none">
        <label for="worker_hour_selector">Alkalmazottak:</label>
        <select class="form-control" id="worker_hour_selector" onchange="listHours()"></select>
    </div>
    <div class="get_worker_hours" id="get_worker_hours_class" style="display: none">
        <label for="name">Név:</label>
        <input type="text" class="form-control" id="name_output" readonly="true">
        <label for="position">Pozíció:</label>
        <input type="text" class="form-control" id="position_output"readonly="true">
        <label for="weekly_hour">Heti óraszám:</label>
        <input type="text" class="form-control" id="weekly_hour_output"readonly="true">
        <div class="hours_div" id="hours_div">
            <table class="table table-bordered" id="timetable">
                <tr>
                    <th>Nap</th>
                    <th>8:00</th>
                    <th>9:00</th>
                    <th>10:00</th>
                    <th>11:00</th>
                    <th>12:00</th>
                    <th>13:00</th>
                    <th>14:00</th>
                    <th>15:00</th>
                    <th>16:00</th>
                    <th>17:00</th>
                    <th>18:00</th>
                </tr>
                <tr>
                    <th>Hétfő</th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                </tr>
                <tr>
                    <th>Kedd</th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                </tr>
                <tr>
                    <th>Szerda</th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                </tr>
                <tr>
                    <th>Csütörtök</th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                </tr>
                <tr>
                    <th>Péntek</th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                    <th contenteditable="false"></th>
                </tr>
            </table>
        </div>

</div>

    <div class="create_or_update_worker" id="create_or_update_worker_class" style="display: none">
        <div class="form-group">
            <label for="name">Név:</label>
            <input type="text" class="form-control" id="name">
            <label for="age">Kor:</label>
            <input type="text" class="form-control" id="age">
            <label for="university">Egyetem:</label>
            <input type="text" class="form-control" id="university">
            <label for="position">Pozíció:</label>
            <input type="text" class="form-control" id="position">
            <label for="weekly_hour">Heti óraszám:</label>
            <input type="text" class="form-control" id="weekly_hour">
            <div class="form-select">
                <label for="worker_status">Státus:</label>
                <select class="form-control" id="worker_status">
                    <option>Beosztott</option>
                    <option>Vezető</option>
                </select>
                <label for="worker_status">Fizetés:</label>
                <select class="form-control" id="salary_status">
                </select>
                <label for="worker_status">Munkaidő:</label>
                <select class="form-control" id="worker_hour_status">
                </select>
            </div>

        </div>
        <div class="form-button" align="right">
            <input type="submit" class="btn btn-primary" value="Hozzáadás" onclick="createOrUpdateWorker()">
            <input type="submit" class="btn btn-danger" value="Reset">
        </div>
    </div>
    <div class="delete_worker" id="delete_worker_class" style="display: none">
        <div class="form-select">
            <label for="worker_to_delete">Alkalmazott:</label>
            <select class="form-control" id="worker_to_delete">
            </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Törlés" onclick="deleteWorker()">
    </div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
        function deleteWorker() {
            var select = document.getElementById("worker_to_delete");
            var selected = select[select.selectedIndex].textContent;
            $.post('/admin/deleteWorker', {id : selected.split('-')[0]}, function (res) {
                alert(res);
            })
        }
        function createOrUpdateWorker() {
            var name = document.getElementById("name").value;
            var age = document.getElementById("age").value;
            var university = document.getElementById("university").value;
            var position = document.getElementById("position").value;
            var weekly_hour = document.getElementById("weekly_hour").value;
            var worker_status = document.getElementById("worker_status").value;

            var select = document.getElementById("worker_to_select");
            var selected = select[select.selectedIndex].innerHTML;

            if(selected == "Alkalmazott") {

                $.post('/admin/addWorker', {
                    id : -1,
                    name : name,
                    age : age,
                    university : university,
                    position : position,
                    weekly_hour : weekly_hour,
                    worker_status : worker_status,
                    tableID : 1,
                    salaryID : 1,
                    accountID : 1
                    ,
                }, function (res) {
                    alert(res);
                })
            } else {
                $.post('/admin/modifyWorker', {
                    id : selected.split('-')[0],
                    name : name,
                    age : age,
                    university : university,
                    position : position,
                    hours : weekly_hour,
                    status : worker_status,
                    tableID : 1,
                    salaryID : 1,
                    accountID : 1
                    ,
                }, function (res) {
                    alert(res);
                })
            }


        }
        function addPaymentCategory() {
            var name = document.getElementById("position_name").value;
            var salary = document.getElementById("position_salary").value;

            $.post('/admin/addSalaryCategory',
            {
                name : name,
                salary : salary

            }, function (res) {
                alert(res);
            });
        }
        function listData() {
            var select = document.getElementById("worker_to_select");
            var selected = select[select.selectedIndex].innerHTML;
            if(selected == "Alkalmazott") {
                $("#create_or_update_worker_class").hide();
                alert("Válasszon alkalmazottat!");
            } else {
                $("#create_or_update_worker_class").show();
                $.post('/admin/getWorkerByID', {id : selected.split('-')[0]}, function (res) {
                    document.getElementById("name").value = res.name;
                    document.getElementById("age").value = res.age;
                    document.getElementById("university").value = res.university;
                    document.getElementById("position").value = res.position;
                    document.getElementById("weekly_hour").value = res.workingHours;
                    document.getElementById("worker_status").value = res.status;
                });
            }
        }
        function listHours() {
            var select = document.getElementById("worker_hour_selector");
            var selected = select[select.selectedIndex].innerHTML;
            if(selected == "Alkalmazott") {
                $("#get_worker_hours_class").hide();
                alert("Válasszon alkalmazottat!");
            } else {
                $("#get_worker_hours_class").show();
                $.post('/admin/getWorkerByID', {id : selected.split('-')[0]}, function (res) {
                    document.getElementById("name_output").value = res.name;
                    document.getElementById("position_output").value = res.position;
                    document.getElementById("weekly_hour_output").value = res.workingHours;
                    var temp = JSON.parse(res.timetable.days);

                    var table = document.getElementById("timetable");
                    var rowNumber = table.rows.length;
                    for(var i = 1; i < rowNumber; ++i) {
                        var cells = table.rows.item(i).cells;
                        var cellNumber = cells.length;

                        var hours = temp[i-1];
                        for(var j = 1; j < cellNumber; ++j) {

                            cells.item(j).innerHTML = hours.hours[j-1];
                        }

                    }

                });
            }

        }
        window.onload = function () {
            $.post('/admin/getAllSalary', '', function (res) {
                var select = document.getElementById("salary_status");
                var i = 0;
                res.forEach(function (item) {
                    select[i] = new Option(item.id + " - " + item.position, i);
                    ++i;
                })
            });
            $.post('/admin/getAllTimeTable', '', function (res) {
                var select = document.getElementById("worker_hour_status");
                var i = 0;
                res.forEach(function (item) {
                    select[i] = new Option(item.id + " - " + item.name, i);
                    ++i;
                })
            });
            $.post('/admin/getAllWorker', '', function (res) {
                var workerToDeleteSelect = document.getElementById("worker_to_delete");
                var workerToSelect = document.getElementById("worker_to_select");
                var hourToSelect = document.getElementById("worker_hour_selector");
                workerToSelect[0] = new Option("Alkalmazott");
                hourToSelect[0] = new Option("Alkalmazott");
                var i = 0;
                res.forEach(function (item) {
                    workerToDeleteSelect[i] = new Option(item.id + " - " + item.name, i);
                    workerToSelect[i+1] = new Option(item.id + " - " + item.name, i);
                    hourToSelect[i+1] = new Option(item.id + " - " + item.name, i);
                    ++i;
                })
            })
        }
    </script>
</body>
</html>